In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("mercedes_benz_stock_refined.csv")
df.head()

,Date,Open,High,Low,Price,Volume,Daily_Return,Price_Change,Price_Range,MA_7,MA_30,MA_90,Volatility_30,Day_of_Week,Month,Year,Quarter
0,1996-10-30,9.97,9.97,9.88,9.89,1640521,NaN,-0.08,0.09,9.89,9.89,9.89,NaN,Wednesday,10,1996,4
1,1996-10-31,9.91,10.02,9.91,10.02,1908031,1.34,0.11,0.11,9.95,9.95,9.95,NaN,Thursday,10,1996,4
2,1996-11-01,10.08,10.17,10.03,10.07,2423211,0.47,-0.01,0.14,9.99,9.99,9.99,0.61,Friday,11,1996,4
3,1996-11-04,10.08,10.17,10.08,10.14,1284644,0.78,0.07,0.09,10.03,10.03,10.03,0.44,Monday,11,1996,4
4,1996-11-05,10.19,10.34,10.14,10.34,2105206,1.88,0.15,0.20,10.09,10.09,10.09,0.62,Tuesday,11,1996,4

In [4]:
df.drop("Volume",axis=1,inplace=True)
df.drop("MA_7",axis=1,inplace=True)
df.drop("MA_30",axis=1,inplace=True)
df.drop("MA_90",axis=1,inplace=True)
df.drop("Volatility_30",axis=1,inplace=True)
df.drop("Day_of_Week",axis=1,inplace=True)
df.drop("Month",axis=1,inplace=True)
df.drop("Year",axis=1,inplace=True)
df.drop("Quarter",axis=1,inplace=True)

In [5]:
df.head()

,Date,Open,High,Low,Price,Daily_Return,Price_Change,Price_Range
0,1996-10-30,9.97,9.97,9.88,9.89,NaN,-0.08,0.09
1,1996-10-31,9.91,10.02,9.91,10.02,1.34,0.11,0.11
2,1996-11-01,10.08,10.17,10.03,10.07,0.47,-0.01,0.14
3,1996-11-04,10.08,10.17,10.08,10.14,0.78,0.07,0.09
4,1996-11-05,10.19,10.34,10.14,10.34,1.88,0.15,0.20

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

Daily_Return    0.013624
Date            0.000000
High            0.000000
Open            0.000000
Low             0.000000
Price           0.000000
Price_Change    0.000000
Price_Range     0.000000
dtype: float64

In [9]:
df['Daily_Return'].fillna(0, inplace=True)

/tmp/ipython-input-1531458103.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Daily_Return'].fillna(0, inplace=True)

In [10]:
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

Date            0.0
Open            0.0
High            0.0
Low             0.0
Price           0.0
Daily_Return    0.0
Price_Change    0.0
Price_Range     0.0
dtype: float64

In [11]:
df.to_csv("cleaned_data.csv", index=False)